*{
    margin: 0%;
    scroll-behavior: smooth;
    
}
.box1{
    background-color: #bd5d38;
    /* background-color: #4a90e2; */
    width: 20%;
    height: auto;
    padding-bottom: 350px;
    padding-top: 30px;
    position: relative;
    position: fixed;
}
.circle{
    height: 140px;
    width: 140px;
    border-radius: 80px;
    border: 6px solid #ca7d60;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 50px;
    /* background-image:  url(images/MudassirProfile.jpg); */
}
 img{
    height: 140px;
    width: 140px;
    border-radius: 70px;
 } 
body{
    margin: 0;
    padding: 0;
}
.nav{
    list-style-type: none;
    margin-left: 51px;    
    color: white;
    font-weight: bold; 
}
.navitem{
    text-decoration: none;
    color: #ca7d60;
}
.nav1stitem{
    text-decoration: none;
    color: #fff;
}
.navitem:hover{
    color: #fff;
    scroll-behavior: auto;
}
/* box2 */

.content{
    margin-left: 20%;
   display: inline-block;
  
 }
 .box2{
   margin: 130px 80px;
  

}
.gmail{
    text-decoration: none;
    color: #bd5d38;
}

.icons {
    font-size: 1.8em;
    color: white;
    margin-top: 50px;
    
  }
.icons i {
    padding: 20px;
    border-radius: 48%;
    /* background-color: rgb(87, 82, 82); */
    background-color: #bd5d38;
  }
 



h1{
    font-size: 70px;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    color: #6c757d;
}
span{
    /* color:#4a90e2; */
    color: #bd5d38
}
.subheading{
    color: #6c757d;
}
.intro{
    font-size: 17px;
    color: #6c757d;
    word-spacing: 2px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
/* box 3 */
.box3{
  margin: 130px 80px;
  
  
    
}
h2{
    color: 4a90e2;
    font-size: 50px;
    margin-left: -18px;
    /* color: #4a90e2; */
    color: #343a40;

}
h3{
    font-size: 35px;
    margin-bottom: 15px;
    margin-left: -18px;
    margin-top: 50px;
    color: #343a40;
}
h4{
    font-size: 25px;
    color: #6c757d;
    
}
h4,p{
    margin-left: -18px;
}
.tools>i{
    font-size: 80px;
    color: #6c757d;
    
}
i{
    
}
.SKILLS{
    margin-bottom: 20px;
}
.WORKFLOW{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ticklist{
    list-style-image: url(images/check-solid\ \(1\).svg);
    list-style-position: inside;
    color: #6c757d;
    font-size: 20px;

}
.upperp{
    margin-bottom: 10px;
    color: #6c757d;
    font-size: 20px;
    word-spacing: 2px;
}
.box4{
    margin: 130px 0px;
}
.box5{
    margin: 130px 0px;

}
.box6{
    margin: 130px 0px;
   
}
.box7{

     margin: 130px 0px;
}
p{
    font-size: 20px;
    color: #6c757d;
    word-spacing: 2px;
}
.trophy{
    font-size: 5px;
    color: #6c757d;
    list-style-image: url(images/trophy-solid.svg);
}
.date{
    color: #bd5d38;
    /* color: #4a90e2; */
    float: right;
    font-size: 15px;
}
hr{
    color: ;
}